* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --main-clr-blue: #162c4e;
  --main-clr-red: #df2224;
  --border-clr: #135a781d;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
}

html,
body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.main {
  flex: 1 0 auto;
  position: relative;
}

.spot-left,
.spot-right {
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 0;
}

.spot-right {
  right: 0;
}

.announcement {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 75px;
}

.logo {
  margin-top: 60px;
}

.heading {
  font-size: 72px;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--main-clr-blue);
  line-height: 105%;
  opacity: 0.4;
  margin-top: 86px;
}

.notation {
  width: 424px;
  font-size: 18px;
  text-align: center;
  margin-top: 7px;
  color: #000000;
  opacity: 0.8;
}

.timer {
  display: flex;
  column-gap: 18px;
  font-size: 72px;
  font-weight: 600;
  color: var(--main-clr-blue);
  margin-top: 14px;
  user-select: none;
  padding-bottom: 40px;
}

.timer__time-section {
  display: block;
  text-align: center;
  width: 132px;
  position: relative;
}

.timer__time-section::before {
  content: attr(data-title);
  display: block;
  width: 132px;
  height: 40px;
  bottom: -39px;
  font-weight: 200;
  padding-top: 14px;
  position: absolute;
  font-size: 16px;
  color: white;
  background-image: url('./assets/img/timer-bg.png');
}

.timer__time-section:not(:last-child)::after {
  content: ':';
  position: absolute;
  right: -22px;
}

.remark {
  margin-top: 70px;
  font-size: 18px;
}

.link-btn {
  display: block;
  width: 240px;
  height: 60px;
  text-decoration: none;
  background-color: var(--main-clr-blue);
  color: white;
  text-align: start;
  padding: 17px 15px 15px 30px;
  word-spacing: 3px;
  line-height: 150%;
  border-radius: 30px;
  margin-top: 14px;
  position: relative;
}

.link-btn__arrow {
  position: absolute;
  right: 20px;
  top: 20px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 195px;
  background-color: var(--main-clr-blue);
  padding: 0 45px;
}

.form {
  display: flex;
  margin-top: -13px;
  max-width: 440px;
  width: 100%;
  position: relative;
}

.form__input {
  display: flex;
  max-width: 440px;
  width: 100%;
  height: 58px;
  border-radius: 60px;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 0 25px;
}

.form__input:user-invalid {
  border: 1px solid var(--main-clr-red);
}

.form__btn {
  width: 43px;
  height: 43px;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  top: 8px;
  background-color: var(--main-clr-red);
  border: none;
  outline: none;
  color: white;
  padding-top: 3px;
  cursor: pointer;
}

.pop-up {
  margin: auto;
  width: 320px;
  height: 370px;
  border: 2px solid;
  border-color: var(--border-clr);
  border-radius: 3px;
  transition: 1s;
  padding: 0;
}

.pop-up::backdrop {
  background-color: var(--main-clr-blue);
  opacity: 0.6;
}

.pop-up__cross {
  position: absolute;
  top: 15px;
  right: 15px;
}

.pop-up__status {
  font-size: 36px;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--main-clr-blue);
  text-align: center;
  margin-top: 100px;
  line-height: 100%;
}

.pop-up__message {
  font-size: 16px;
  text-align: center;
  padding: 0 15px;
  margin-top: 25px;
}

.pop-up__btn {
  display: block;
  text-decoration: none;
  color: white;
  background-color: var(--main-clr-blue);
  width: 200px;
  height: 60px;
  text-align: center;
  border-radius: 30px;
  margin: 0 auto;
  margin-top: 25px;
  padding: 16px;
}


@media (max-width: 1180px) {
  .spot-left {
    transform: scale(0.5);
    top: -110px;
    left: -120px;
  }

  .spot-right {
    transform: scale(0.9);
    top: -20px;
    right: -40px;
  }

  .logo {
    margin-top: 100px;
  }

  .heading {
    font-size: 36px;
    margin-top: 160px;
  }

  .notation {
    font-size: 16px;
    width: 290px;
    margin-top: 18px;
  }

  .timer {
    font-size: 36px;
    margin-top: 30px;
  }

  .timer__time-section {
    width: 80px;
  }

  .timer__time-section::before {
    content: attr(data-collapse);
    width: 74px;
    font-size: 12px;
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 6px;
    bottom: -45px;
  }

  .timer__time-section:not(:last-child)::after {
    right: -15px;
  }

  .remark {
    font-size: 16px;
    margin-top: 35px;
  }

  .announcement {
    padding-bottom: 170px;
  }

  .footer {
    height: 160px;
  }

  .form {
    max-width: 360px;
    margin-top: -5px;
  }

  .form__input {
    height: 40px;
    font-size: 14px;
    padding-left: 20px;
  }

  .form__btn {
    width: 34px;
    height: 34px;
    right: 3px;
    top: 3px;
  }
}

@media (max-width: 480px) {
  .announcement {
    padding: 0 25px 85px;
  }

  .spot-left {
    transform: scale(0.4);
    top: -153px;
    left: -155px;
  }

  .spot-right {
    transform: scale(0.6);
    top: -70px;
    right: -60px;
  }

  .logo {
    margin-top: 70px;
    transform: scale(0.65);
  }

  .heading {
    font-size: 36px;
    margin-top: 48px;
    text-align: center;
  }

  .notation {
    margin-top: 15px;
  }

  .timer__time-section {
    width: 64px;
  }

  .timer__time-section::before {
    width: 64px;
    padding-top: 4px;
  }

  .form {
    margin-top: -15px;
  }

  .footer {
    padding: 0 40px;
  }
}